@import "tailwindcss";

@theme inline {
  --color-talora-dark-blue: #10141e;
  --color-talora-white: #fff;
  --color-talora-semi-dark-blue: #161d2f;
  --color-talora-red: #fc4747;
  --color-talora-greyish-blue: #5a698f;

  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    min-height: 100dvh;
    scroll-behavior: smooth;
  }

  body {
    background: var(--color-talora-dark-blue);
    color: var(--color-talora-white);
    font-size: 1.125rem;
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
  }

  button,
  input,
  textarea {
    font: inherit;
  }
}

@layer components {
  .image-overlay {
    position: absolute;
    inset: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
